<!DOCTYPE html>
<html>
<head>
    <title>Container List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
      body {
          padding-top: 62px; 
      }
  </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="bg-white shadow fixed w-full z-20 top-0">
      <div class="container mx-auto px-4 py-4 flex justify-between items-center">
          <a href="/dockbox"><h1 class="text-xl font-bold text-gray-800">DockBox</h1></a>
          <a href="/list-images">List Images</a>
          <a href="/list-containers">List Containers</a>
          <a href="/create-cont">Create Container</a>
          {% if 'user_id' in session %}
            <p>Hi, <b>{{ username }}</b></p>
          {% endif %}
      </div>
    </nav>
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
    <div id="container-table">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              ID
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Container Name
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Image
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Status
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Action
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                CPU Usage (%)
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Memory Usage (%)
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              
          </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Table rows -->    
          {% for container in containers %}
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ container.container_id }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ container.container_name }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ container.image }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-green-500">{{ container.status }}</span>
            </td>

            {% if container.status != 'running' %}
              <td class="px-6 py-4 whitespace-no-wrap">
                <form action="/start_container" method="POST">
                    <input type="hidden" name="container_id" value="{{ container.container_id }}">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Start
                    </button>
                </form>
              </td>
            {% else %}
              <td class="px-6 py-4 whitespace-no-wrap">
                  <form action="/stop_container" method="POST">
                      <input type="hidden" name="container_id" value="{{ container.container_id }}">
                      <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Stop
                      </button>
                  </form>
              </td>
            {% endif %}

            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-green-500">{{ container.cpu_percent }}</span>
            </td>

            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-green-500">{{ container.memory_percent }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <form action="/delete_container" method="POST">
                <input type="hidden" name="container_id" value="{{ container.container_id }}">
                <button type="submit" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    Delete
                </button>
            </form>            
              
          </td>
          </tr>
          {% endfor %}
          <!-- End of table rows -->
        </tbody>
      </table> 
    </div>
    <script>
      // JavaScript/jQuery code to append the table to the specified container element
      $(document).ready(function() {
          var containerTable = '{{ container_table }}'; // Retrieve the container-table element ID from the parameter
          var tableContent = $('#container-table').html(); // Retrieve the table content
          $(containerTable).html(tableContent); // Append the table to the specified container element
      });
    </script>
</body>
</html>
