<!DOCTYPE html>
<html>
<head>
    <title>Image List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Image Name
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Created
            </th>
            <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Size
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Table rows -->    
          {% for image in list_img %}
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ image.image_name }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ image.created }}</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="text-sm leading-5 text-gray-500">{{ image.size }}</span>
            </td>
          </tr>
          {% endfor %}
          <!-- End of table rows -->
        </tbody>
      </table>      
</body>
</html>
