<!DOCTYPE html>
<html>

<head>
    <title>Create Docker Container</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 flex flex-col items-center justify-center h-screen">
    <div class="bg-d2d2d2 flex flex-col max-w-7xl">
        <div class="text-center">
            <img src="C:\Users\Fadya Nabila\Downloads\Logo DockBox.png" class="h-3/5 mx-auto mb-3">
            <img src="C:\Users\Fadya Nabila\Downloads\Title DockBox.png" class="h-12 mx-auto">
        </div>
        <div class="text-center mt-6 text-2xl">
            <h1>Build your own container with ease using our DockBox!</h1>
        </div>
        <div class="flex mt-6 text-lg justify-center">
            <a href="C:\Users\Fadya Nabila\Documents\GitHub\cloud-pbl2\templates\index.html"
                class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
                Get started
            </a>
        </div>
    </div>
</body>

</html>