<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
<html>
    <head>
        <!-- <div class="cont_header"> -->
            <!-- start and stop -->
        <!-- </div> -->
    </head>
    <body class="cont_body">
        <div class="cont_start">
            <form method="POST" action="{{ url_for('start_container') }}">
                <button type="submit">Start</button>
            </form>
            <!-- <button class="cont1_start">
                start
            </button> -->
        </div>
        <div class="cont_stop">
            <button class="cont1_stop">
                stop
            </button>
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>