<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
<html>
    <head>
        <!-- <div class="cont_header"> -->
            <!-- start and stop -->
        <!-- </div> -->
    </head>
    <body class="cont_body">
        <div class="cont_start">
            <button class="cont1_start">
                start
            </button>
        </div>
        <div class="cont_stop">
            <button class="cont1_stop">
                stop
            </button>
        </div>
    </body>
</html>